---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("thoughts")).sort(
  (a, b) => a.data.publishedAt.valueOf() - b.data.publishedAt.valueOf()
);
---

<Layout currentPage="/thoughts">
  <section class="space-y-4">
    <h2 class="text-2xl font-medium">My thoughts</h2>
    <ul class="space-y-2">
      {
        posts.length === 0 ? (
          <li>
            <h3 class="tracking-tight font-medium text-zinc-300">
              No posts yet. Maybe check another time
            </h3>
          </li>
        ) : (
          posts
            .sort((p) => p.data.publishedAt.valueOf())
            .reverse()
            .map((post) => (
              <li class="flex justify-between gap-4 py-2">
                <a
                  class="col-span-2 hover:underline"
                  href={`/thoughts/${post.slug}/`}
                >
                  <h4 class="tracking-tight font-medium col-span-3 group-hover:underline">
                    {post.data.title}
                  </h4>
                </a>
                <p class="text-right whitespace-nowrap">
                  <FormattedDate date={post.data.publishedAt} />
                </p>
              </li>
            ))
        )
      }
    </ul>
  </section>
</Layout>
