/* 
https://colorhunt.co/palette/2763
https://www.youtube.com/watch?v=ZZOlqX_772k
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #3700B3;
    --secondary-color: #018786;
    --font-color: #fff;
    --alt-font-color: #f3ffbd;
    --bg-color: #121212;
    --heading-color: #018786;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}

.container {
    padding: 0 100px 0 100px;
}

nav ul,
.main-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    background-color: var(--bg-color);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar {
    background-color: var(--heading-color);
}

header h1,
header a,
.text p,
.about h1,
.skills h1 {
    color: var(--font-color);
}

.navbar li {
    list-style: none;
    margin-left: 30px;
}

.navbar a {
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    font-size: .9rem;
}

.main-info {
    height: calc(100vh - 81.6px);
    /* background-image: url("DcLLNW6.gif");
    background-repeat: no-repeat;
    background-size: cover; */
}

.text {
    margin-top: 120px;
    flex: 0 50%;
}

.image {
    margin-top: 120px;
    flex: 0 50%;
}

.text h1 {
    color: var(--secondary-color);
    font-size: 2.5rem;
    cursor: context-menu;
}

.workplace {
    font-size: 2.8rem;
}

.text span {
    display: inline-block;
}

span {
    transition: all .5s;
    color: var(--font-color);
}

span:hover {
    color: var(--primary-color);
    transition: all .5s;
}

.text p {
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: .8rem;
    color: var(--alt-font-color);
}

.footer {
    flex: 0 100%;
    text-align: center;
    margin-top: auto;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 75px;
    text-decoration: none;
    display:inline-block;
    bottom: 10px;
    color: var(--font-color)
  }
  
  .fa:hover {
    opacity: 0.7;
  }

.about {
    height: 100vh;
    margin-top: 100px;
}

.about h1,
.skills h1 {
    font-size: 8rem;
    z-index: 0;
    opacity: .1;
    transition: all 1s;
}

.about h1:hover,
.skills h1:hover {
    color: var(--secondary-color);
    opacity: 1;
    transition: all 1s;
}

.about-me {
    max-width: 900px;
    background-color: var(--secondary-color);
    box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
    padding: 50px;
    position: relative;
    top: -70px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: #eeeeee;
}

.about-me p:nth-child(2),
.about-me p:last-child  {
    margin-top: 30px;
}

.skills {
    height: 100vh;
}

.skills-info {
    max-width: 900px;
    background-color: var(--secondary-color);
    box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
    padding: 50px;
    position: relative;
    top: -70px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: #eeeeee;
}

footer {
    height: 50px;
    text-align: center;
}

footer p {
    margin-top: 15px;
    color: var(--font-color);
}