* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #3700B3;
    --secondary-color: #018786;
    --font-color: #fff;
    --alt-font-color: #f3ffbd;
    --bg-color: #121212;
    --heading-color: #018786;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
} 

/* 
OTHER SETUP
*/

/* 
OTHER SETUP
*/

.container {
    padding: 0 150px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    background-color: var(--bg-color);
    line-height: 1.3;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    transition: 1s opacity;
}

/* 
ANIMATION SECTION
 */

.item {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

.item2 {
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
}

.item3 {
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 5s; /* Firefox < 16 */
    -ms-animation: fadein 5; /* Internet Explorer */
    -o-animation: fadein 5s; /* Opera < 12.1 */
    animation: fadein 5s;   
}

.item4 {
    -webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 7s; /* Firefox < 16 */
    -ms-animation: fadein 7; /* Internet Explorer */
    -o-animation: fadein 7s; /* Opera < 12.1 */
    animation: fadein 7s;   
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes color-change {
    0% { color: #fff; }
    50% { color: #018786; }
    100% { color: #fff; }
}
@-moz-keyframes color-change {
    0% { color: #fff; }
    50% { color: #018786; }
    100% { color: #fff; }
}
@-ms-keyframes color-change {
    0% { color: #fff; }
    50% { color: #018786; }
    100% { color: #fff; }
}
@-o-keyframes color-change {
    0% { color: #fff; }
    50% { color: #018786; }
    100% { color: #fff; }
}
@keyframes color-change {
    0% { color: #fff; }
    50% { color: #018786; }
    100% { color: #fff; }
}

.r {
    animation: color-change 5s;
    animation-delay: 3s;
}

.y {
    animation: color-change 5s;
    animation-delay: 3.5s;
}

.a {
    animation: color-change 5s; 
    animation-delay: 4s; 
}

.n {
    animation: color-change 5s;
    animation-delay: 4.5s;
}

.h {
    animation: color-change 5s;
    animation-delay: 5s;
}

.a2 {
    animation: color-change 5s;
    animation-delay: 5.5s;
}

.r2 {
    animation: color-change 5s;
    animation-delay: 6s;
}

.m {
    animation: color-change 5s;
    animation-delay: 6.5s;
}

.a3 {
    animation: color-change 5s;
    animation-delay: 7s;
}

.n2 {
    animation: color-change 5s;
    animation-delay: 7.5s;
}

/* 
HEADER SECTION
*/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

header h1,
header a,
.about h1 {
    color: var(--font-color);
}

.navbar li {
    list-style: none;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    font-size: .9rem;
    transition: all .5s;
}

.navbar a:hover {
    color: var(--secondary-color);
    transition: all .5s;
}

/* 
MAIN SECTION
*/

.main-info {
    height: calc(100vh - 80px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    /* background-image: url("maxwell-nelson-taiuG8CPKAQ-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}
.text {
    margin: 75px 0;
}

.text h1 {
    cursor: context-menu;
}

.hello {
    color: var(--font-color);
    font-size: 1.5rem;
}

.name {
    color: var(--font-color);
    font-size: 4rem;
}

.intro {
    color: var(--font-color);
    margin-top: 50px;
    font-size: 1.5rem;
    max-width: 500px;
}

.intro a {
    position: relative;
    text-decoration: none;
    color: var(--font-color);
    font-weight: bold;
}

.hover {
    display: inline-block;
    position: relative;
}

.hover::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--font-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.button {
    display: block;
}

.button a {
    padding: 0px;
    width: 150px;
    height: 50px;
    line-height: 50px;
    border: var(--secondary-color) solid 1px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    position: relative;
    transition: all .5s;
}

.button a:hover {
    color: var(--font-color);
    transition: all .5s;
    background-color: rgba(1,135,134,0.1);
}

.scroll-arrow {
    display: flex;
    justify-content: center;
    height: 10px;
    margin-top: 150px;
}

.arrow {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
  }

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* 
ABOUT SECTION
*/

.about {
    display: flex;
    min-height: 50vh;
    justify-content: center;
    flex-direction: row;
    align-items: left;
    background-image: url("/images/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about h1 {
    font-size: 4rem;
    transition: all 1s;
}

.about h1:hover {
    color: var(--secondary-color);
    opacity: 1;
    transition: all 1s;
}

.about-me {
    max-width: 750px;
    padding: 50px;
    color: #eeeeee;
    margin: auto;
}

.about-me a {
    position: relative;
    text-decoration: none;
    color: var(--font-color);
    font-weight: bold;
}

.about-me p {
    margin-top: 25px;
}

.books-header {
    margin-top: 50px;
}

.book-wrapper {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: left;
    flex-wrap: wrap;
}

.book {
    min-width: 80px;
    min-height: 100px;
    width: auto;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    transition: 0.2s ease-in-out;
    margin-right: 15px;
    margin-top: 10px;
}

.book img {
    height: 150px;
    transition: all 0.5s ease-in-out;
}

.book img:hover {
    transform: translateY(-5px);
}

.image-wrapper {
    padding: 50px;
    margin: auto;
}

.image-me {
    border-radius: 5%;
    border: var(--font-color) 1px solid;
    width: 600px;
    transition: all 0.5s;
}

.image-me:hover {
    border: var(--secondary-color) 1px solid;
    transition: all 0.5s;
}

/* 
CAROUSEL SECTION
*/

.prev-emp-height {
    min-height: 45vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.prev-emp {
    margin-top: 50px;
    text-align: center;
    font-size: 1rem;
    color: var(--font-color);
    transition: all 1s;
}

.prev-emp:hover {
    color: var(--secondary-color);
    opacity: 1;
    transition: all 1s;
}


.slider {
    height: 225px;
    margin: 25px 0;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .slider__nav {
    width: 12px;
    height: 12px;
    margin: 1rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 var(--secondary-color), 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .slider__nav:checked {
    -webkit-animation: check 0.4s linear forwards;
    animation: check 0.4s linear forwards;
  }

  .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
  }

  .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
  }

  .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
  }

  .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
  }

  .slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: auto;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }

  .slider__contents {
    height: auto;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .slider__image {
    font-size: 2.7rem;
    color: white;
  }

  .slider__caption {
    font-weight: 500;
    margin: 0 0 1rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: var(--font-color);
  }

  .slider__txt {
    color: var(--font-color);
    margin-bottom: 1rem;
    max-width: 500px;
  }
  
  @-webkit-keyframes check {
    50% {
      outline-color: var(--secondary-color);
      box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
      outline-color: var(--secondary-color);
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }
  
  @keyframes check {
    50% {
      outline-color: var(--secondary-color);
      box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
      outline-color: var(--secondary-color);
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }

/* 
FOOTER SECTION
*/

footer {
    height: 50px;
    text-align: center;
}

footer p {
    margin-top: 15px;
    margin-bottom: 15px;
    color: var(--font-color);
}

.footer {
    flex: 0 100%;
    text-align: center;
    margin-top: auto;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50x;
    text-decoration: none;
    display:inline-block;
    bottom: 10px;
    color: var(--font-color);
    transition: all 0.5s;
  }

  .footer .fa {
    border-bottom: white 1px solid;

  }
  
  footer .fa:hover {
    opacity: 0.7;
    border-bottom: var(--secondary-color) 1px solid;
    transition: all 0.5s;
  }

/* 
MEDIA QUERIES
*/

/* Phone screen up to tablet */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .container {
        padding: 0px;
        display: block;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    nav {
        padding-bottom: 16px;
    }

    header h1 {
        font-size: 1.5rem;
    }

    .about-list {
        display: none;
    }

    .main-info {
        padding: 0 50px;

    }

    .name {
        font-size: 3rem;
    }

    .scroll-arrow {
        margin-top: 15px;
    }
    

    .image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 50px 50px 50px;
    }

    .image-me {
        width: 275px;
    }

    .about {
        flex-direction: column;
    }

    .about h1 {
        font-size: 2rem;
    }

    .slider__txt {
        padding: 0px 10px;
      }
}

/* Tablet to desktop */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        padding: 0 50px;
    }

    .main-info {
        padding: 0 50px;
    }

    .image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px 50px 50px 50px;
    }

    .image-me {
        width: 450px;
    }

    .about {
        flex-direction: column;
    }

    .about h1 {
        font-size: 3rem;
    }
}