---
import Bold from "../Bold.astro";
import HeaderUnderline from "../HeaderUnderline.astro";
import Paragraph from "../Paragraph.astro";
import Arrow from "../react/Arrow";
import DotsRectangle from "../react/DotsRectangle";
import OnScroll from "../react/OnScroll";
---

<section
  id="about"
  class="relative max-w-6xl w-full flex flex-col items-start justify-center m-auto md:mt-32"
>
  <div
    class="hidden md:block pointer-events-none absolute w-[800px] h-[800px] -top-80 -left-24"
  >
    <Arrow client:load />
  </div>
  <div class="w-full">
    <OnScroll client:load>
      <div class="mt-16 md:mt-72 flex flex-col gap-4 max-w-2xl">
        <h2 class="text-4xl">This is what I do.</h2>
        <HeaderUnderline color="border-rose-400" />
        <p class="text-gray-300 text-xl font-normal">
          I develop beautiful, functional, and accessible websites. My goal is
          to always create exceptional experiences for the right reasons.
        </p>
        <div>
          <h3 class="text-rose-400 text-lg">Some of my experience</h3>
          <Paragraph>
            I've worked with <Bold>enterprise applications</Bold> with the largest
            automotive manufacturers in the world, <Bold
              >creating and maintaining</Bold
            > products built for healthcare services, developing <Bold
              >internal tooling for process improvement</Bold
            >, building <Bold>libraries for reusability</Bold>, and creating <b
              class="text-gray-400">custom web applications</b
            > for small businesses and startups.
          </Paragraph>
        </div>
      </div>
    </OnScroll>

    <OnScroll client:load>
      <div class="relative ml-auto my-8 max-w-2xl">
        <div class="absolute -left-[225px] -top-[225px]">
          <DotsRectangle />
        </div>
        <div></div>
        <div>
          <Paragraph>
            I pride myself on building <Bold
              >sustainable and maintainable products</Bold
            > using agile principles and the latest software methodologies.
          </Paragraph>
          <Paragraph>
            If you work with crypto, gambling or a product that takes advantage
            of its users, I'm not the right developer for you.
          </Paragraph>
        </div>
      </div>
    </OnScroll>

    <OnScroll client:load>
      <div class="my-8 flex flex-col max-w-2xl">
        <h4 class="text-rose-400 text-lg">My tech stack</h4>
        <Paragraph>
          <Bold>React</Bold> is my bread and butter. Pair it alongside <b
            class="text-gray-400"
            >Node.js and Express, Serverless AWS Lambda functions</b
          >, or utilising <Bold>Next.js</Bold>, I can build a full-stack
          application for you.
        </Paragraph>
        <p class="mt-2 text-gray-500 text-xl font-light">
          When not in the code itself I spend a lot of time architecting and
          planning solutions. From discovery, all the way to deployment, I can
          support your development pipeline to ensure success.
        </p>
      </div>
    </OnScroll>
    <div class="mb-36 mt-16 flex flex-col gap-8">
      <h5 class="text-3xl">Interested?</h5>
      <div>
        <a
          href="mailto:me@ryanharman.dev"
          target="_blank"
          class="border-2 border-rose-600 rounded-md py-4 px-12 hover:border-rose-400 transition-all font-semibold text-md text-gray-300 shadow-sm hover:text-white hover:shadow-xl"
          >Let's chat</a
        >
      </div>
    </div>
  </div>
</section>
