---
import Bold from "../Bold.astro";
import ScrollIndicator from "../ScrollIndicator.astro";
import IconBrandGithub from "../icons/IconBrandGithub";
import IconBrandLinkedin from "../icons/IconBrandLinkedin";
---

<section
  class="relative max-w-6xl w-full font-light h-screen flex flex-col items-start justify-center m-auto mb-52"
>
  <div class="mb-8 text-entry-animation">
    <h1 class="text-gray-400 text-5xl md:text-7xl">Hey, I'm</h1>
    <h1 class="font-normal text-5xl md:text-7xl flex gap-">
      Ryan Harman <div class="animate-[wiggle_1s_ease-in-out_infinite]">👋</div>
    </h1>
  </div>
  <div class="text-gray-500 text-xl other-entry-animation">
    <p>
      I'm a <Bold>Software Engineer</Bold> that enjoys freelancing alongside my day
      job at
      <a
        aria-label="Corporation Pop"
        href="https://corporationpop.co.uk/"
        target="_blank"
        class="underline cursor-pointer hover:text-gray-200 text-gray-400 transition-all"
        >Corporation Pop</a
      >.
    </p>
    <p>
      I specialise in JavaScript / TypeScript development with React and
      Node.js.
      <b class="text-gray-400"> I make solid, scalable products.</b>
    </p>
    <div class="flex gap-4 mt-4">
      <a
        aria-label="GitHub"
        href="https://github.com/ryanharman"
        target="_blank"
        class="text-gray-200 cursor-pointer transition-all hover:text-green-400 p-2 hover:bg-gray-100 hover:bg-opacity-10 rounded-full"
      >
        <IconBrandGithub size={30} stroke={1.5} />
      </a>
      <a
        aria-label="LinkedIn"
        href="https://www.linkedin.com/in/ryan-harman63/"
        target="_blank"
        class="text-gray-200 cursor-pointer transition-all hover:text-blue-400 p-2 hover:bg-gray-100 hover:bg-opacity-10 rounded-full"
      >
        <IconBrandLinkedin size={30} stroke={1.5} />
      </a>
    </div>
  </div>
  <!-- Padding for compensation on section wrapper -->
  <ScrollIndicator />
</section>
