---
import Bold from "../Bold.astro";
import IconBrandGithub from "../icons/IconBrandGithub";
import IconBrandLinkedin from "../icons/IconBrandLinkedin";
---

<section
  class="relative max-w-6xl w-full font-light h-screen flex flex-col items-start justify-center m-auto"
>
  <div class="mb-8 text-entry-animation">
    <h1 class="text-gray-400 text-5xl md:text-7xl">Hey, I'm</h1>
    <h1 class="font-normal text-5xl md:text-7xl flex gap-">
      Ryan Harman <div class="animate-[wiggle_1s_ease-in-out_infinite]">👋</div>
    </h1>
  </div>
  <div class="text-gray-500 text-xl other-entry-animation">
    <p>
      I'm a <Bold>Software Engineer</Bold> that enjoys freelancing alongside my day
      job at
      <a
        aria-label="Corporation Pop"
        href="https://corporationpop.co.uk/"
        target="_blank"
        class="underline cursor-pointer hover:text-gray-200 text-gray-400 transition-all"
        >Corporation Pop</a
      >.
    </p>
    <p>
      I specialise in JavaScript / TypeScript development with React and
      Node.js.
      <b class="text-gray-400"> I make solid, scalable products.</b>
    </p>
    <div class="flex gap-4 mt-4">
      <a
        aria-label="GitHub"
        href="https://github.com/ryanharman"
        target="_blank"
        class="text-gray-200 cursor-pointer transition-all hover:text-green-400 p-2 hover:bg-gray-100 hover:bg-opacity-10 rounded-full"
      >
        <IconBrandGithub size={30} stroke={1.5} />
      </a>
      <a
        aria-label="LinkedIn"
        href="https://www.linkedin.com/in/ryan-harman63/"
        target="_blank"
        class="text-gray-200 cursor-pointer transition-all hover:text-blue-400 p-2 hover:bg-gray-100 hover:bg-opacity-10 rounded-full"
      >
        <IconBrandLinkedin size={30} stroke={1.5} />
      </a>
    </div>
  </div>
  <div class="absolute bottom-24 m-auto other-entry-animation">
    <svg
      class="text-gray-100 animate-bounce"
      width="30"
      height="30"
      viewBox="0 0 15 15"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M3.85355 2.14645C3.65829 1.95118 3.34171 1.95118 3.14645 2.14645C2.95118 2.34171 2.95118 2.65829 3.14645 2.85355L7.14645 6.85355C7.34171 7.04882 7.65829 7.04882 7.85355 6.85355L11.8536 2.85355C12.0488 2.65829 12.0488 2.34171 11.8536 2.14645C11.6583 1.95118 11.3417 1.95118 11.1464 2.14645L7.5 5.79289L3.85355 2.14645ZM3.85355 8.14645C3.65829 7.95118 3.34171 7.95118 3.14645 8.14645C2.95118 8.34171 2.95118 8.65829 3.14645 8.85355L7.14645 12.8536C7.34171 13.0488 7.65829 13.0488 7.85355 12.8536L11.8536 8.85355C12.0488 8.65829 12.0488 8.34171 11.8536 8.14645C11.6583 7.95118 11.3417 7.95118 11.1464 8.14645L7.5 11.7929L3.85355 8.14645Z"
        fill="currentColor"
        fill-rule="evenodd"
        clip-rule="evenodd"></path></svg
    >
  </div>
</section>
