---
import OnScroll from "../react/OnScroll";
import Paragraph from "../Paragraph.astro";
import Bold from "../Bold.astro";
import HeaderUnderline from "../HeaderUnderline.astro";
---

<section
  class="max-w-6xl w-full flex flex-col items-start justify-center m-auto"
>
  <OnScroll client:load>
    <div class="flex flex-col gap-4 max-w-2xl">
      <h3 class="text-4xl">Let's work together.</h3>
      <HeaderUnderline color="border-green-400" />
      <Paragraph>
        I help individuals, startups and large enterprises build out their
        products and meet ambitious deadlines - <Bold
          >the more ambitious the better</Bold
        >.
      </Paragraph>
      <div class="mt-4">
        <button
          onclick="document.getElementById('about').scrollIntoView({ behavior: 'smooth' });"
          class="border-2 border-green-600 rounded-md p-4 hover:border-green-400 transition-all font-semibold text-md text-gray-300 shadow-sm hover:text-white hover:shadow-xl"
          >Learn more about me</button
        >
      </div>
    </div>
  </OnScroll>
</section>
