---
import OnScroll from "../react/OnScroll";
---

<section class="relative max-w-6xl flex flex-col items-start justify-center m-auto">
  <!-- Scroll component -->
  <div
    class="after:absolute after:top-0 pl-8 after:h-[300px] after:w-[1px] after:bg-gray-500 animate-up"
  >
  </div>
  <!-- Scroll component end -->

  <OnScroll client:load>
    <div class="mt-80 mb-32 flex flex-col gap-4 max-w-2xl">
      <h3 class="text-4xl">Let's work together.</h3>
      <OnScroll
        client:load
        variants={{
          offscreen: {
            width: 0,
            transition: {
              delay: 0.75,
              duration: 1,
            },
          },
          onscreen: {
            width: "100px",
            transition: {
              delay: 0.75,
              duration: 1,
            },
          },
        }}
      >
        <div class="h-2 border-b-2 border-green-400"></div>
      </OnScroll>
      <p class="text-gray-500 text-xl font-light">
        I help individuals, startups and large enterprises build out their products and meet
        ambitious deadlines - <b class="text-gray-400">the more ambitious the better</b>.
      </p>
      <div class="mt-4">
        <button
          onclick="document.getElementById('about').scrollIntoView();"
          class="border-2 border-green-600 rounded-md p-4 hover:border-green-400 transition-all font-semibold text-md text-gray-300 shadow-sm hover:text-white hover:shadow-xl"
          >Learn more about me</button
        >
      </div>
    </div>
  </OnScroll>
</section>
