<section
  class="relative max-w-6xl font-light h-screen flex flex-col items-start justify-center m-auto"
>
  <div class="mb-8 text-entry-animation">
    <h1 class="text-gray-400 text-5xl md:text-7xl">Hey, I'm</h1>
    <h1 class="font-normal text-5xl md:text-7xl flex gap-">
      Ryan Harman <div class="animate-[wiggle_1s_ease-in-out_infinite]">👋</div>
    </h1>
  </div>
  <div class="text-gray-600 text-xl other-entry-animation">
    <p>
      I'm a <b class="text-gray-400">Software Engineer</b> that enjoys freelancing alongside my day job
      at
      <a
        href="https://corporationpop.co.uk/"
        target="_blank"
        class="underline cursor-pointer hover:text-gray-200 text-gray-400 transition-all"
        >Corporation Pop</a
      >.
    </p>
    <p>
      I specialise in JavaScript / TypeScript development with React and Node.js.
      <b class="text-gray-400"> I make solid, scalable products.</b>
    </p>
  </div>

  <div
    class="absolute bottom-[210px] font-normal tracking-wider text-gray-400 other-entry-animation"
  >
    SCROLL
  </div>
  <div
    class="after:absolute after:bottom-0 pl-8 after:h-[200px] after:w-[1px] after:bg-gray-500 animate-up"
  >
  </div>
</section>
