---
import Layout from "../layouts/Layout.astro";
import CvForExport from "../components/CvForExport.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<script>
  import { jsPDF } from "jspdf";
  // This script allows us to generate a PDF based on the CV rendering below.
  function downloadPDF() {
    const pdf = new jsPDF({
      orientation: "portrait",
      format: "a4",
      unit: "px",
    });

    const pdfContent = document.getElementById("cv-export")?.innerHTML;
    if (!pdfContent) {
      console.error("Oops, something went wrong");
      return;
    }

    const myFont = "/fonts/Inter.ttf";
    pdf.addFileToVFS("Inter.ttf", myFont);
    pdf.addFont(myFont, "Inter", "normal");
    pdf.setFont("Inter");

    pdf.html(pdfContent, {
      filename: "ryan_harman_cv.pdf",
      margin: 15,
      autoPaging: "text",
      x: 0,
      y: 0,
      width: 400,
      windowWidth: 675,
      callback: (doc) => {
        doc.save("ryan_harman_cv.pdf");
      },
    });
  }

  const downloadButton = document.getElementById("download-btn");
  downloadButton?.addEventListener("click", downloadPDF);
</script>

<Layout currentPage="/cv" hideAboutMeArticle={true}>
  <CvForExport />
  <button
    id="download-btn"
    class="fixed bottom-4 right-4 bg-background text-primary shadow-sm group my-4 px-4 py-1 rounded-md border border-primary/50 hover:border-primary font-medium tracking-tight"
  >
    Export to PDF
  </button>
</Layout>
