---
import "../style.css";
import Main from "../layouts/main.astro";
import SectionOne from "../components/sections/SectionOne.astro";
import SectionTwo from "../components/sections/SectionTwo.astro";
import Footer from "../components/Footer.astro";
import SectionThree from "../components/sections/SectionThree.astro";
import ParticlesContainer from "../components/react/Particles";
---

<Main>
  <ParticlesContainer client:only="react" />
  <main
    class="bg-gradient-to-br from-zinc-900 via-neutral-900 to-zinc-900 text-white overflow-x-hidden p-4 md:p-8"
  >
    <SectionOne />
    <SectionTwo />
    <SectionThree />
  </main>
  <Footer />
</Main>
