---
import "../style.css";
import Main from "../layouts/main.astro";
import Landing from "../components/sections/Landing.astro";
import LearnMore from "../components/sections/LearnMore.astro";
import Footer from "../components/Footer.astro";
import AboutMe from "../components/sections/AboutMe.astro";
import ParticlesContainer from "../components/react/Particles";
import Projects from "../components/sections/Projects.astro";
---

<Main>
  <ParticlesContainer client:only="react" />
  <main
    class="flex flex-col gap-24 w-full bg-gradient-to-br from-zinc-900 via-neutral-900 to-zinc-900 text-white overflow-x-hidden p-4 md:p-8"
  >
    <Landing />
    <Projects />
    <LearnMore />
    <AboutMe />
  </main>
  <Footer />
</Main>
