---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const projects = await getCollection("projects");
---

<Layout currentPage="/">
  <article class="space-y-6">
    <h2 class="text-2xl font-medium">Some of my projects</h2>
    <p>
      I love to build things, and I love to share them with the world. Here are
      some of my projects that I've built
    </p>
    <div class="grid md:grid-cols-2 gap-x-4 gap-y-4">
      {
        projects?.map((project) => (
          <div class="space-y-4 hover:bg-zinc-700/10 hover:transition-none transition-colors rounded-lg p-4">
            <div class="space-y-2">
              <a href={project.data.link} target="_blank">
                <div class="tracking-wided font-medium border-b border-white/50 hover:border-white w-fit hover:transition-none transition-all">
                  {project.data.title}
                </div>
              </a>
              <p class="font-mono text-zinc-400 text-sm">
                {project.data.stack}
              </p>
            </div>
            <p class="">{project.body}</p>
          </div>
        ))
      }
    </div>
  </article>
  <article class="space-y-6">
    <h3 class="text-2xl font-medium">Lets work together</h3>
    <p>
      I help forward-thinking individuals, startups and enterprises to develop
      innovative digital solutions that drive business success and meet
      ambitious deadlines.
      <span class="font-medium text-zinc-200"
        >My goal is to always create exceptional experiences for the right
        reasons.</span
      >
    </p>
    <p>
      You can find out more in my <a
        class="border-b border-white/50 hover:border-white cursor-pointer text-white hover:transition-none transition-all"
        href="/about">about</a
      > page
    </p>
    <div class="pt-6">
      <a
        class="group px-4 py-3 rounded-md border border-white/50 hover:border-white font-medium tracking-tight"
        href="mailto:me@ryanharman.dev"
        >Work with me <svg
          class="inline-block group-hover:-translate-y-[2px] group-hover:translate-x-[2px] transition-all"
          width="18"
          height="18"
          viewBox="0 0 15 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            d="M3.64645 11.3536C3.45118 11.1583 3.45118 10.8417 3.64645 10.6465L10.2929 4L6 4C5.72386 4 5.5 3.77614 5.5 3.5C5.5 3.22386 5.72386 3 6 3L11.5 3C11.6326 3 11.7598 3.05268 11.8536 3.14645C11.9473 3.24022 12 3.36739 12 3.5L12 9.00001C12 9.27615 11.7761 9.50001 11.5 9.50001C11.2239 9.50001 11 9.27615 11 9.00001V4.70711L4.35355 11.3536C4.15829 11.5488 3.84171 11.5488 3.64645 11.3536Z"
            fill="currentColor"
            fill-rule="evenodd"
            clip-rule="evenodd"></path></svg
        ></a
      >
    </div>
  </article>
</Layout>
