---
import Cv from "./Cv.astro";
---

<div class="mt-12" id="cv-export">
  <h1 class="text-primary text-2xl font-medium flex gap-4">
    Ryan Harman, Software Engineer
  </h1>
  <div
    class="max-w-prose flex gap-4 items-center mb-6 font-mono text-secondary"
  >
    <a
      class="hover:underline hover:text-primary hover:transition-none transition-all"
      href="mailto:me@ryanharman.dev"
      target="_blank">me@ryanharman.dev</a
    >
    <span class="tracking-[-0.3rem] text-tertiary font-mono text-lg">//</span>
    <a
      class="hover:underline hover:text-primary hover:transition-none transition-all"
      href="https://ryanharman.dev"
      target="_blank">ryanharman.dev</a
    >
    <span class="tracking-[-0.3rem] text-tertiary font-mono text-lg">//</span>
    <a
      class="hover:underline hover:text-primary hover:transition-none transition-all"
      href="https://github.com/ryanharman"
      target="_blank">github.com/ryanharman</a
    >
  </div>
  <Cv />
</div>
