---
import "../style.css";
import IconBrandGithub from "./icons/IconBrandGithub";
import IconBrandLinkedin from "./icons/IconBrandLinkedin";
import IconCode from "./icons/IconCode";
import IconMail from "./icons/IconMail";
---

<footer class="bg-gray-800 text-gray-300">
  <section class="max-w-6xl hidden sm:flex items-center justify-between m-auto py-16 text-lg">
    <div>
      <div class="flex gap-2 items-center"><IconCode stroke={1.5} />Ryan Harman</div>
      <a
        href="mailto:me@ryanharman.dev"
        class="flex gap-2 items-center mt-2 hover:text-rose-400 transition-all"
      >
        <IconMail stroke={1.5} />
        me@ryanharman.dev
      </a>
    </div>
    <div class="flex gap-8">
      <a
        href="https://github.com/ryanharman"
        target="_blank"
        class="cursor-pointer transition-all hover:text-green-400 p-2 hover:bg-gray-100 hover:bg-opacity-10 rounded-full"
      >
        <IconBrandGithub size={30} stroke={1.5} />
      </a>
      <a
        href="https://www.linkedin.com/in/ryan-harman63/"
        target="_blank"
        class="cursor-pointer transition-all hover:text-blue-400 p-2 hover:bg-gray-100 hover:bg-opacity-10 rounded-full"
      >
        <IconBrandLinkedin size={30} stroke={1.5} />
      </a>
    </div>
  </section>
</footer>
