<script>
  const today = new Date();

  function updateYear() {
    const year = today.getFullYear();
    const pElement = document.getElementById("ryanharman");

    if (pElement) {
      pElement.textContent = `ryan harman // ${year}`;
    }
  }

  updateYear();
</script>
<footer class="border-t border-primary/50 py-6">
  <p id="ryanharman" class="font-mono lowercase text-sm">ryan harman</p>
</footer>
