---
import OnScroll from "./react/OnScroll";

const { color } = Astro.props;
---

<OnScroll
  client:load
  variants={{
    offscreen: {
      width: 0,
      transition: {
        delay: 0.75,
        duration: 1,
      },
    },
    onscreen: {
      width: "100px",
      transition: {
        delay: 0.75,
        duration: 1,
      },
    },
  }}
>
  <div class={`h-2 border-b-2 ${color}`}></div>
</OnScroll>
