<div class="absolute top-0 left-1/3 max-w-4xl w-1/2 h-1/3">
  <div class="rain hidden"></div>
  <div class="rain hidden"></div>
  <div class="rain">
    <div class="drop bg-rose-400"></div>
    <div class="waves">
      <div class="border-4 border-rose-400"></div>
      <div class="border-8 border-rose-300"></div>
    </div>
    <div class="particles">
      <div class="bg-rose-400"></div>
      <div class="bg-rose-400"></div>
      <div class="bg-rose-400"></div>
      <div class="bg-rose-400"></div>
    </div>
  </div>
</div>
<div class="absolute bottom-24 right-10 max-w-md w-1/4 h-1/5">
  <div class="rain hidden"></div>
  <div class="rain hidden"></div>
  <div class="rain hidden"></div>
  <div class="rain hidden"></div>
  <div class="rain">
    <div class="drop bg-blue-400"></div>
    <div class="waves">
      <div class="border-4 border-blue-400"></div>
      <div class="border-8 border-blue-300"></div>
    </div>
    <div class="particles">
      <div class="bg-blue-400"></div>
      <div class="bg-blue-400"></div>
      <div class="bg-blue-400"></div>
      <div class="bg-blue-400"></div>
    </div>
  </div>
</div>
<div class="absolute bottom-[300px] left-10 max-w-sm w-1/5 h-1/6">
  <div class="rain hidden"></div>
  <div class="rain">
    <div class="drop bg-green-400"></div>
    <div class="waves">
      <div class="border-4 border-green-400"></div>
      <div class="border-8 border-green-300"></div>
    </div>
    <div class="particles">
      <div class="bg-green-400"></div>
      <div class="bg-green-400"></div>
      <div class="bg-green-400"></div>
      <div class="bg-green-400"></div>
    </div>
  </div>
</div>
