<div
  class="absolute bottom-[210px] font-normal tracking-wider text-gray-400 other-entry-animation sm:hidden md:block"
>
  SCROLL
</div>
<div
  class="after:absolute after:bottom-0 pl-8 after:h-[200px] after:w-[1px] after:bg-gray-500 animate-up sm:hidden md:block"
>
</div>
<div
  class="after:absolute after:-bottom-[200px] pl-8 after:h-[300px] after:w-[1px] after:bg-gray-500 animate-up"
>
</div>
