<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="index.js"></script>

    <!-- Primary Meta Tags -->
    <title>Ryan Harman - Software Developer</title>
    <meta name="title" content="Ryan Harman - Software Developer">
    <meta name="description" content="Cheshire based Software Developer specialising in JavaScript and Web Development.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ryan-harman.co.uk/">
    <meta property="og:title" content="Ryan Harman - Software Developer">
    <meta property="og:description" content="UK based Software Developer specialising in JavaScript and Web Development.">
    <!-- <meta property="og:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png"> -->

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://ryan-harman.co.uk/">
    <meta property="twitter:title" content="Ryan Harman - Software Developer">
    <meta property="twitter:description" content="UK based Software Developer specialising in JavaScript and Web Development.">
    <!-- <meta property="twitter:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png"> -->
    <title>Ryan Harman</title>
</head>
<body class="light" id="body">
    <div id="theme" class="fade-in-element">
        <p>TOGGLE THEME</p>
    </div>
    <header class="globalHeader fade-in-element">
        <div>
            <h1><a href="https://ryan-harman.co.uk"><span>RYAN</span>HARMAN</a></h1>
        </div>
        <nav>
            <ul>
                <li>Placeholder</li>
                <li>Placeholder</li>
                <li>Placeholder</li>
            </ul>
        </nav>
    </header>
    <!-- Header ends -->





    

    <footer class="globalFooter hidden">
        <a href="https://github.com/ryharman" target="_blank" class="fa fa-github"></a>
        <a href="https://stackoverflow.com/users/12760569/ryharman" target="_blank" class="fa fa-stack-overflow"></a>
        <a href="https://www.linkedin.com/in/ryan-harman63/" target="_blank" class="fa fa-linkedin"></a>
        <a href="mailto:ryan.harman63@gmail.com" target="_blank" class="fa fa-envelope-o"></a>
    </footer>
    <!-- Footer ends -->

</body>
</html>