---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"thoughts">["data"];

const { title, description, publishedAt } = Astro.props;
---

<Layout currentPage="/thoughts">
  <div>
    <div class="flex justify-between items-start gap-4 mb-4">
      <div>
        <h2 class="text-primary text-2xl font-medium mb-2">{title}</h2>
        <p class="text-secondary">{description}</p>
      </div>
      <FormattedDate date={publishedAt} />
    </div>
  </div>
  <slot />
</Layout>
