---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

type Props = {
  currentPage: "/" | "/about" | "/thoughts";
};

const { currentPage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <script>
      (function (c, h, a, t, l, o, O, p) {
        if (c._cl !== undefined) {
          return;
        }
        c._clConfig = o;
        o.account = t;
        o.domain = l;
        O = h.getElementsByTagName("head")[0];
        p = h.createElement("script");
        p.async = 1;
        p.src = a;
        p.type = "module";
        O.appendChild(p);
      })(
        window,
        document,
        "https://sdk.chatloop.app/chatloop-tag.js",
        "018c5922-518d-7265-8a3b-ef5710990c67",
        {
          id: "0190dad1-c724-71fe-a4fa-6cb36a3a3fb9",
          domain: "ryanharman.dev",
        },
        []
      );
    </script></head
  >

  <!-- Chatloop Tag (chatloop-tag.js) -->

  <body
    class="bg-zinc-900 text-white max-w-2xl mx-auto antialiased font-sans py-8 md:px-0 px-6 space-y-16"
  >
    <Header currentPage={currentPage} />
    <article
      class="space-y-3 relative after:w-full after:h-[1px] after:bg-white/50 after:absolute after:-bottom-8"
    >
      <div class="flex">
        <h1 class="font-bold text-3xl tracking-tight">Hey, I'm Ryan Harman</h1>
        <div
          class="text-3xl ml-2 animate-[wiggle_1s_ease-in-out_infinite] w-fit"
        >
          👋
        </div>
      </div>
      <p>
        I'm a Software Engineer specialising in TypeScript applications built
        with React and Node.js. <span class="font-medium text-zinc-200"
          >I make solid, scalable products.</span
        >
      </p>
      <p>
        You can find my code at <a
          class="border-b border-white/50 hover:border-white cursor-pointer text-white hover:transition-none transition-all"
          href="https://github.com/ryanharman"
          target="_blank">GitHub</a
        > or get in touch via <a
          class="border-b border-white/50 hover:border-white cursor-pointer text-white hover:transition-none transition-all"
          href="https://www.linkedin.com/in/ryan-harman63/"
          target="_blank">LinkedIn</a
        > or <a
          class="border-b border-white/50 hover:border-white cursor-pointer text-white hover:transition-none transition-all"
          href="mailto:me@ryanharman.dev">me@ryanharman.dev</a
        >
      </p>
    </article>
    <main class="space-y-16">
      <slot />
    </main>
    <Footer />
  </body>
</html>
