<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- Primary Meta Tags -->
    <title>Ryan Harman - Software Engineer</title>
    <meta name="title" content="Ryan Harman - Software Engineer" />
    <meta
      name="description"
      content="An experienced React / Node.js fullstack developer. I build apps and websites that are scalable and secure."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ryan-harman.co.uk/" />
    <meta property="og:title" content="Ryan Harman - Software Engineer" />
    <meta
      property="og:description"
      content="An experienced React / Node.js fullstack developer. I build apps and websites that are scalable and secure."
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://ryan-harman.co.uk/" />
    <meta property="twitter:title" content="Ryan Harman - Software Engineer" />
    <meta
      property="twitter:description"
      content="An experienced React / Node.js fullstack developer. I build apps and websites that are scalable and secure."
    />
  </head>
  <body>
    <slot />
  </body>
</html>
